{% extends "base.njk" %}

{% block title %}Genres - Modifier{% endblock %}
{% block navbar_title %}Modifier '{{ todo.type }}'{% endblock %}

{% block content %}
  <div class="col-md-6 offset-md-3">
    <div class="card card-outline-primary mb-3 text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <center>
            <form action="/todo/editG/{{ todo._id }}" method="post">
              <div class="form-group">
                <label for="inputType">Type de genre :</label>
                <input type="text" class="form-control" id="inputType" name="inputType" value="{{ todo.type }}" autofocus required>
              </div>
              <div class="form-group">
                <label for="inputDescription" class="label">Description :</label>
                <input type="text" class="form-control" id="inputDescription" name="inputDescription" value="{{ todo.description }}" required>
              </div>
              <button type="submit" class="btn btn-success">Modifier '{{ todo.type }}'</button>
            </form>

            <br />
            <a class="btn btn-primary" href="/todo/genre" role="button">Retour</a>
          </center>
        </blockquote>
      </div>
    </div>
  </div>
{% endblock %}