{% extends "base.njk" %}

{% block title %}Film - Modifier{% endblock %}
{% block navbar_title %}Modifier '{{ todo.titre }}'{% endblock %}

{% block content %}
  <div class="col-md-6 offset-md-3">
    <div class="card card-outline-primary mb-3 text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <center>
            <form action="/todo/edit/{{ todo._id }}" method="post">
              <div class="form-group">
                <label for="inputTitre">Titre du film :</label>
                <input type="text" class="form-control" id="inputTitre" name="inputTitre" value="{{ todo.titre }}" autofocus required>
              </div>
              <div class="form-group">
                <label for="inputAuteur" class="label">Auteur : </label>
                <input type="text" class="form-control" id="inputAuteur" name="inputAuteur" value="{{ todo.auteur }}" required>
              </div>
              <div class="form-group">
                <label for="inputDuree" class="label">Duree :</label>
                <input class="form-control" type="text" id="inputDuree" name="inputDuree" value="{{ todo.duree }}">
              </div>
              <div class="form-group">
                <label for="inputCategorie" class="label">Categorie :</label>
                <input class="form-control" type="text" id="inputCategorie" name="inputCategorie" value="{{ todo.categorie }}">
              </div>
              <button type="submit" class="btn btn-success">Modifier '{{ todo.titre }}'</button>
            </form>

            <br />
            <a class="btn btn-primary" href="/todo" role="button">Retour</a>
          </center>
        </blockquote>
      </div>
    </div>
  </div>
{% endblock %}
