{% extends "base.njk" %}

<head>
  <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
{% block content %}

  <div class="navigation">
      <ul>
        <li class="list active">
          <b></b>
          <b></b>
          <a href="/">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <span class="title">Home</span>
          </a>
        </li>
        <li class="list">
          <b></b>
          <b></b>
          <a href="/todo/">
            <span class="icon"><ion-icon name="film-outline"></ion-icon></span>
            <span class="title">Films</span>
          </a>
        </li>
        <li class="list">
          <b></b>
          <b></b>
            <a href="/todo/genre/">
                <span class="icon"><ion-icon name="albums-outline"></ion-icon></span>
                <span class="title">Categories</span>
            </a>
        </li>
        <li class="list">
          <b></b>
          <b></b>
            <a href="/login/">
              <span class="icon"><ion-icon name="log-in-outline"></ion-icon></span>
              <span class="title">Login</span>
            </a>
        </li>
        <li class="list">
          <b></b>
          <b></b>
            <a href="/logout/">
              <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
              <span class="title">Logout</span>
            </a>
        </li>
      </ul>
  </div>
  <div class="togglemenu">
    <ion-icon name="menu-outline" class="open"></ion-icon>
    <ion-icon name="close-outline" class="close"></ion-icon>
  </div>
  <div class="col-md-10 offset-md-1">

<center>
    <p class="text-success">{{message}}</p> <!-- Affichage des messages dans le template !-->
</center>

    <div class="card card-outline-primary mb-3 text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <center>
            <table id="todolist" class="table table-bordered table-hover sortable">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Film</th>
                  <th scope="col">Auteur</th>
                  <th scope="col">Duree</th>
                  <th scope="col">Categorie</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for todo in todos %}
                  <tr>
                    <td align="center">
                      {{ todo.titre }}
                    </td>
                    <td align="center">
                      {{ todo.auteur }}
                    </td>
                    <td align="center">
                      {{ todo.duree }}
                    </td>
                    <td align="center">
                      {{ todo.categorie }}
                    </td>
                    <td align="center">
                      <a class="btn btn-warning btn-sm" href="/todo/edit/{{ todo._id }}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a class="btn btn-danger btn-sm" href="/todo/delete/{{ todo._id }}" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <br>

            <button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#modalAddTodo">
              Ajouter un film
            </button>
           <br>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalRemoveAllTodo">
              Supprimer tous les films
            </button>

            <a class="btn btn-info" href="/todo/exporttocsv" role="button">Exporter à CSV</a>

          </center>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalAddTodo" tabindex="-1" role="dialog" aria-labelledby="modalAddTodo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddTodo">Ajouter un film</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/todo/add/" method="post">
            <div class="form-group">
              <label for="inputTitre">Titre :</label>
              <input type="text" class="form-control" id="inputTitre" name="inputTitre" placeholder="Spiderman" autofocus required>
            </div>
            <div class="form-group">
              <label for="inputAuteur" class="">Auteur :</label>
              <input class="form-control" type="text" id="inputAuteur" name="inputAuteur" placeholder="Stan Lee" required>
            </div>
            <div class="form-group">
              <label for="inputDuree" class="">Duree :</label>
              <input class="form-control" type="text" id="inputDuree" name="inputDuree" placeholder="128 mins">
            </div>
            <div class="form-group">
              <label for="inputCategorie" class="">Categorie :</label>
              <input class="form-control" type="text" id="inputCategorie" name="inputCategorie" placeholder="Action">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-success">Ajout</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalRemoveAllTodo" tabindex="-1" role="dialog" aria-labelledby="modalRemoveAllTodo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRemoveAllTodo">Voulez-vous supprimer tous les films ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <center>
                <button type="button" class="btn btn-success" data-dismiss="modal">Non</button>
                <a class="btn btn-danger" href="/todo/delete/all" role="button">Oui</a>
            </center>
        </div>
      </div>
    </div>
  </div>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script>

    let menuToggle = document.querySelector('.togglemenu');
    menuToggle.onclick = function(){
      menuToggle.classList.togglemenu('active');
    }

    let list = document.querySelectorAll('.list');
    for(let i=0; i<list.length; i++){
      list[i].onclick = function(){
        let j = 0;
        while(j < list.length){
          list[j++].className = 'list';
        }
        list[i].className = 'list active';
      }
    }
  </script>
{% endblock %}

{% block endbody %}
  <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js" charset="utf-8"></script>
{% endblock %}
