@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
  --white: #fff;
  --blue: #4d5bf9;
  --black: #333;
  --pink: #ff4d89;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding-top: 80px;
  min-height: 100vh;
  background: var(--white);
}

.navigation {
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 70px;
  border-radius: 10px;
  box-sizing: initial;
  border-left: 5px solid var(--blue);
  background: var(--blue);
  transition: 0.5s;
  overflow-x: hidden;
}

.navigation.active {
  width: 300px;
}

.navigation ul {
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li b::nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: var(--white);
  display: none;
}

.navigation ul li b::nth-child(1)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: var(--blue);
}


.navigation ul li b::nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background: var(--white);
  display: none;
}

.navigation ul li b::nth-child(2)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: var(--blue);
}

.navigation ul li.active b::nth-child(1),
.navigation ul li.active b::nth-child(2) {
  display: block;
}

.navigation ul li.active {
  background: var(--white);
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li.active a {
  color: var(--black);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.5em;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}

.togglemenu {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: var(--blue);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.togglemenu.active {
  background: var(--pink);
}

.togglemenu ion-icon {
  position: absolute;
  color: var(--white);
  font-size: 34px;
  display: none;
}

.togglemenu ion-icon.open,
.toggle.active ion-icon close {
  display: block;
}

.togglemenu ion-icon.close,
.togglemenu.active ion-icon.close {
  display: none;
}

table.sortable thead {
  font-weight: bold;
  cursor: default;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: " \25B4\25BE";
}
